<!doctype html><html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Epr</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:localcss styles/main.css -->
		<link rel="stylesheet" href="main.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- endbuild -->
	</head>
	<body ng-app="epr" layout="column">

		<!-- Add your site or application content here -->
		<div layout="column" layout-fill>
		  <md-toolbar>
		    <div class="md-toolbar-tools">
					<md-button aria-label="EPR" ng-if="admin===true" href="#/adminMain">
						<md-icon md-svg-src="/assets/images/eprlogo.svg" style="width: 110px; height: 90px;"> </md-icon>
		      </md-button>
					<md-button aria-label="EPR" ng-if="user===true" href="#/adminMain">
						<md-icon md-svg-src="/assets/images/eprlogo.svg" style="width: 110px; height: 90px;"> </md-icon>
					</md-button>
					<md-button aria-label="EPR" ng-if="user===false || admin===false" ng-hide="user===true||admin===true">
						<md-icon md-svg-src="/assets/images/eprlogo.svg" style="width: 110px; height: 90px;"> </md-icon>
					</md-button>
		      <!-- <span>EPR</span> -->
		      <!-- fill up the space between left and right area -->
		      <!-- <span flex></span> -->
		      <md-button href="#/adminMain" ng-show="admin ===true">
		        Dashboard
		      </md-button>
					<md-button href="#/sendMessage" ng-show="admin===true">
		        Send Message
		      </md-button>
					<md-button href="#/wardPlan" ng-show="admin ===true">
		        Ward Plan
		      </md-button>
					<md-button href="#/wardInventory" ng-show="admin ===true">
						Ward Inventory
					</md-button>
					<md-button href="#/pProfile" ng-show="user ===true || admin===true">
						Personal Profile
					</md-button>
					<md-button href="#/training" ng-show="user ===true || admin===true">
						Training
					</md-button>
					<md-button ng-click='logout()' href="#/login" ng-show="user ===true || admin===true">
						Log out
					</md-button>
		    </div>
		  </md-toolbar>
		  <md-content ng-view></md-content>
		</div>
		</main>
		<footer>
			<i class="fa fa-facebook-official"></i>
			<md-toolbar class="md-tall" style="z-index:100;">
		<center><div>{{appName}} : {{version}}</div> </center>
		</md-toolbar>
		</footer>



		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-messages/angular-messages.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:localjs({.generated,app}) scripts/scripts.js -->
		<script src="app.js"></script>
		<script src="routes/routes.module.js"></script>
		<script src="routes/routes.config.js"></script>
		<script src="scripts/login.js"></script>
		<script src="scripts/wardInCtr.js"></script>
		<script src="scripts/adminMain.js"></script>
		<script src="scripts/message.js"></script>
		<script src="scripts/pProfile.js"></script>
		<script src="scripts/training.js"></script>
		<!-- endbuild -->
	</body>
</html>
