<md-content>
  <div class="container-fluid" style="padding-top:20px;>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-9">
          <div  class="panel panel-primary" >
            <div class="panel-heading">
              <h2 class="panel-title">  Urgent Issues </h2>
            </div>
            <div class="panel-body">
              <md-list-item ng-repeat="issue in issues" ng-click="goToIssue(issue, $event)" >
                <p>{{ issue.name }}</p>
                <md-checkbox class="md-secondary" style="padding-right:60px;" ng-model="issue.done"></md-checkbox>
              </md-list-item>
              <md-list-item  ng-if="addingIssue === true"> <input class="form-control" ng-if="addingIssue ===true" ng-model="issue.name" aria-label="blarg" placeholder="Add Issue Here"></input>
              </md-list-item>
            </md-list>
            <md-button ng-show="addingIssue === true" ng-click="toggleIssue()"  class="btn btn-primary">
              cancel
            </md-button>
            <md-button ng-show="addingIssue === true" ng-click="add()"  class="btn btn-primary">
              Submit
            </md-button>
            <md-button  ng-show="addingIssue === false" ng-click="toggleIssue()" class="btn btn-primary">
              Create New Issue
            </md-button>
            <md-button class="btn btn-primary" ng-click="remove()">
              Resolve Issue
            </md-button>
          </div>
        </div>
      </div>

      <div layout="column" class="col-md-3">
        <div flex class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">  Ward Stats </h2>
          </div>
          <div class="panel-body">
            <center>  <h2> Ward Members <br>with profiles</br></h2> </center>
            <center>  <h3>74 %</h3> </center>
            <center><h2> Ward Members with <br>Complete Profiles</br></h2> </center>
            <center>  <h3>44 %</h3> </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</md-content>
