<md-dialog aria-label="Send Email">
  <md-dialog-content>
<h3>Issue Details</h3>
<h4>Description</h4>
    <md-input-container>
    <label>Add description:</label>
<textarea class="form-control input-lg" style="width: 500px; height:100px;"></textarea>
    </md-input-container>
<h3>Sub-tasks:</h3>
<md-list-item ng-repeat=" subtask in subtasks">
  <p>{{subtask.content}}</p>
  <md-checkbox aria-label="blarg" class="md-secondary" style="padding-right:60px;" ng-click="removeSubTask(subtask,$index)"></md-checkbox>
</md-list-item>
  <md-list-item  ng-if="addingTask === true"> <input class="form-control" ng-if="addingTask ===true" ng-model="task.content" aria-label="blarg" placeholder="Add Subtask Here"></input>
  </md-list-item>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-show="addingTask === false" ng-click="addingSt()"  class="btn btn-primary">
      Add Sub-Task
    </md-button>
    <md-button ng-show="addingTask === true" ng-click="addingSt()"  class="btn btn-primary">
      cancel
    </md-button>
    <md-button ng-show="addingTask === true" ng-click="addSubTask()"  class="btn btn-primary">
      Submit
    </md-button>
    <md-button ng-click="closeDialog()"  class="btn btn-primary">
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
