<md-dialog aria-label="message">
  <md-dialog-content>
    <form>
    <div class="form-group">
<h3>Message Details</h3>
<h4>Body</h4>
<p style="width:500px;padding-bottom:20px;"> {{message}}</p>
<h4>Options</h4>
<span >Notify me of response list updates <md-checkbox aria-label="blarg" ng-model="updates"> </span> <br/>
<div ng-show="updates===true" class="row">
  <span  style="padding-top:20px;" class="col-md-6" ng-disabled="updates===true">Notify me of response list updates every </span>
     <md-select placeholder="Select Time" style="padding-bottom:20px;" class="col-md-3" ng-model="selectedTime">
   <md-option ng-repeat="time in times">{{time}}</md-option>
 </md-select>
 <span style="padding-top:20px;" class="col-md-2"> minutes </span>
</div>
<h4>Responses</h4>
<table class="col-md-12">
    <tbody>
      <th class="col-md-3">Response from:</th>
      <th class="col-md-3">Mssage:</th>
      <th class="col-md-3"> Time Replied:</th>
    </tbody>
  </table>
</div>
</form>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()"  class="btn btn-primary">
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
