<md-content>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2 class="panel-title">Profile</h2></div>
                    <div class="panel-body">
                        <table class="table table-condensed" id="personalInfo"><tbody>
                            <tr>
                                <td rowspan="5">
                                    <img alt="" src="https://s-media-cache-ak0.pinimg.com/736x/65/96/87/659687e3ac4ef335db413903a9c1bbbd.jpg" style="width: 294px;" />
                                </td>
                                <td>Name:</td>
                                <td id="name" ng-if="editname===false">{{name.thing}}</td>
                                <td id="name" ng-if="editname===true"><input ng-if="editname===true" ng-model="name.thing"></td>
                                <!-- <td ng-if="editname===false"><md-button ng-if="editname===false" class="btn btn-primary btn-sm" ng-click="toggleName()">Edit</md-button></td> -->
                                <!-- <td ng-if="editname===true"><md-button ng-if="editname===true" class="btn btn-primary btn-sm" ng-click="toggleName()">Done</md-button></td> -->
                            </tr>
                            <tr>
                                <td>Phone Number:</td>
                                <td id="phonenum"ng-if="editnum===false">{{num.thing}}</td>
                                  <td id="name" ng-if="editnum===true"><input ng-if="editnum===true" ng-model="num.thing"></td>
                                <!-- <td ng-if="editnum===false"><md-button  ng-if="editnum===false" class="btn btn-primary btn-sm" ng-click="toggleNum()">Edit</md-button></td> -->
                                <!-- <td ng-if="editnum===true"><md-button  ng-if="editnum===true" class="btn btn-primary btn-sm" ng-click="toggleNum()">Done</md-button></td> -->
                            </tr>
                            <tr>
                                <td>Home Address:</td>
                                <td id="address"ng-if="editadd===false">{{add.thing}}</td>
                                  <td id="name" ng-if="editadd===true"><input ng-if="editadd===true" ng-model="add.thing"></td>
                                <!-- <td ng-if="editadd===false"><md-button  ng-if="editadd===false" class="btn btn-primary btn-sm"ng-click="toggleAdd()">Edit</md-button></td> -->
                                <!-- <td ng-if="editadd===true"><md-button  ng-if="editadd===true" class="btn btn-primary btn-sm"ng-click="toggleAdd()">Done</md-button></td> -->
                            </tr>
                            <tr>
                                <td>Email Address:</td>
                                <td id="email"  ng-if="editemail===false">{{email.thing}}</td>
                                  <td id="name" ng-if="editemail===true"><input ng-if="editemail===true" ng-model="email.thing"></td>
                                <!-- <td ng-if="editemail===false"><md-button  ng-if="editemail===false" class="btn btn-primary btn-sm" ng-click="toggleEmail()">Edit</md-button></td> -->
                                <!-- <td ng-if="editemail===true"><md-button  ng-if="editemail===true" class="btn btn-primary btn-sm" ng-click="toggleEmail()">Edit</md-button></td> -->
                            </tr>


                        </tbody></table>
                        <div>
                        <md-button style="float:right;;" class="btn btn-primary btn-sm" ng-click="goToLdsTools()">Update Profile </md-buton>
                        </div>
                        <span  style="float:right;padding-top:20px">Profile Information is updated via LDS tools </span>
                    </div>
                </div>
            </div>

            <div class="col-md-5" style=" float:right;">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2 class="panel-title">Supplies and Tools <button style="float:right;"ng-click="showInfo()"  class="btn btn-primary btn-xs">What is this?</button></h2> </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                        <thead><th>Item</th><th>Qty.</th></thead>
                        <tbody id="inventory">
                            <tr ng-repeat="thing in items">
                                <td ng-show="edit===false">{{thing.item}}</td><td ng-show="edit===false">{{thing.quant}}</td>
                                <td ng-show="edit===true"><input ng-model="thing.item"  ng-show="edit===true"></input></td>
                                <td ng-show="edit===true"><input ng-model="thing.quant" ng-show="edit===true"></input></td>
                                <td ng-show="edit===true"><md-checkbox aria-label="blarg" style=padding-top:7px; ng-model="thing.remove"></md-checkbox></td>
                            </tr>
                            <tr>
                              <td ng-show="additem===true"><input ng-show="additem===true" ng-model="item.item"> </input></td>
                              <td ng-show="additem===true"><input ng-show="additem===true" ng-model="item.quant"> </input> </td>
                            </tr>
                        </tbody></table>
                        <md-button ng-show="edit===false" ng-click="editItems()" class="btn btn-primary btn-sm">Edit</md-button>
                        <md-button ng-show="edit===true" ng-click="editItems()" class="btn btn-primary btn-sm">Done</md-button>
                        <md-button ng-show="edit===true" ng-click="removeItems()" class="btn btn-primary btn-sm">Remove</md-button>
                          <md-button ng-show="edit ===true" ng-click="addNew()" class="btn btn-primary btn-sm">Add Item</md-button>
                          <div style="float:right; padding-top:18px;"> <span>Make information available</span> <md-checkbox  aria-label="blarg"> </md-checkbox> </div>
                    </div>
                </div>
            </div>

            <br/>
          <!-- <div class="row"> -->
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2 class="panel-title">Skills and Certifications<button style="float:right;"ng-click="showCertInfo()"  class="btn btn-primary btn-xs">What is this?</button></h2> </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                        <thead><th>Skill or Certification</th><th>Details</th><th>Certifier</th><th>Expiration date</th></thead>
                        <tbody id="inventory">
                            <tr ng-repeat="thing in skills">
                                <td ng-show="editSkill===false">{{thing.skill}}</td>
                                <td ng-show="editSkill===false">{{thing.details}}</td>
                                <td ng-show="editSkill===false">{{thing.cert}}</td>
                                <td ng-show="editSkill===false">{{thing.exp}}</td>
                                <td ng-show="editSkill===true"><input ng-model="thing.skill"  ng-show="editSkill===true"></input></td>
                                <td ng-show="editSkill===true"><input ng-model="thing.details"  ng-show="editSkill===true"></input></td>
                                <td ng-show="editSkill===true"><input ng-model="thing.cert"  ng-show="editSkill===true"></input></td>
                                <td ng-show="editSkill===true"><input ng-model="thing.exp" ng-show="editSkill===true"></input></td>
                                <td ng-show="editSkill===true"><md-checkbox aria-label="blarg" style=padding-top:7px; ng-model="thing.remove"></md-checkbox></td>
                            </tr>
                            <tr>
                              <td ng-show="addSkill===true"><input ng-show="addSkill===true" ng-model="item.item"> </input></td>
                              <td ng-show="addSkill===true"><input ng-show="addSkill===true" ng-model="item.quant"> </input> </td>
                            </tr>
                        </tbody></table>
                        <md-button ng-show="editSkill===false" ng-click="editSkills()" class="btn btn-primary btn-sm">Edit</md-button>
                        <md-button ng-show="editSkill===true" ng-click="editSkills()" class="btn btn-primary btn-sm">Done</md-button>
                        <md-button ng-show="editSkill===true" ng-click="removeSkills()" class="btn btn-primary btn-sm">Remove</md-button>
                          <md-button ng-show="editSkill ===true" ng-click="addNewSkill()" class="btn btn-primary btn-sm">Add Item</md-button>
                          <div style="float:right; padding-top:18px;"> <span>Make information available</span> <md-checkbox  aria-label="blarg"> </md-checkbox> </div>
                    </div>
                </div>
            </div>
          <!-- </div> -->
        </div>

        <h2>Checklists</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Utah.gov 72 Hour Kit <button style="float:right;" class="btn btn-primary btn-xs">Share</button></h3>

                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Water - 1 gallon/person/day
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Food and Utensils - 1 to 3 day supply
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    NOAA Weather Radio
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Blankets/Pillow/Sleeping Bag
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Flashlight
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Whistle
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Dust or Filter Mask
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Moist Towelettes
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Tools - Wrench/Pliers, Broom, Shovel, Hammer, Gloves
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Can Opener
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Plastic Sheeting, Duct Tape
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Medications
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Medications
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    First Aid Supplies
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Personal Hygene Items
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Garbage Bags
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Paper Supplies
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Camera
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Cash/ATM and Credit Card and cash
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Emergency Contact Phone List
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Maps
                            </label>
                        </div>
                            <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Medical History Lists
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Family Dog Marvin List <button style="float:right;" class="btn btn-primary btn-xs">Share</button></h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Water
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Dog Food
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Dog Bowl
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Leash
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Scoop bags
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Blanket
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Heart Meds
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input>
                                    Treats
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-repeat="thing in lists" class="col-md-3">
              <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{thing.title}} <button style="float:right;" class="btn btn-primary btn-xs">Share</button> </h3>
                    </div>
                        <div class="checkbox">
                          <div ng-repeat="thisItem in thing.items" class="panel-body">
                            <label>
                              <input type="checkbox"></input>
                                <div ng-bind="thisItem"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="checkListBool===true" class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><input ng-model="listTitle"></input></h3>
                </div>
                <div class="panel-body">
                  <div class="checkbox">
                    <label>
                      <div ng-repeat="item in tempNewList.items" ng-bind="item"></div>
                      <input ng-model="listItem"></input>
                      <button ng-click="addNewItemToTempList()">Add</button>
                    </label>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <md-button ng-show="checkListBool===false" ng-click="toggleCheckListBool()" class="btn btn-default btn-sm">Create new</md-button>
                        <md-button ng-show="checkListBool===true" ng-click="addNewlist()" class="btn btn-default btn-sm">done</md-button>
                        <md-button ng-click="chooseLists()" class="btn btn-primary btn-sm">Browse shared</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
