<md-content>
    <h2>Send Message</h2>
    <div class="container-fluid">
      <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
              <h2>Subject</he>
                <input type="text" class="form-control" ng-model="subject">
                <h2>Message</h2>
                <textarea id="messageBox" class="form-control" rows="8" ng-model="message"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Select Recipients</h3>
                <div id="recipientsList">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="allMembers" ng-true-value="'ALL MEMBERS'" ng-false-value="''"/>
                                ALL MEMBERS
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="Bishopbric" ng-true-value="'Bishopbric'" ng-false-value="''"/>
                                Bishopric
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"ng-model="WardC" ng-true-value="'Ward Council'" ng-false-value="''" />
                                Ward Council
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"ng-model="rS" ng-true-value="'Relief Society'" ng-false-value="''"/>
                                Relief Society
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="eQ" ng-true-value="'Elders Quorum'" ng-false-value="''"/>
                                Elders Quorum
                        </label>
                    </div>
                    <div class="checkbox" >
                        <label>
                            <input type="checkbox" ng-model="hPC" ng-true-value="'High Priests Group'" ng-false-value="''"/>
                                High Priests Group
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Select Contact Methods</h3>
                <div id="methodsList">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"ng-model="email" ng-true-value="'Email'" ng-false-value="''" />
                                Email
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="sms" ng-true-value="'SMS'" ng-false-value="''" />
                                SMS Text
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Link to Existing Issue</h3>
                <div id="methodsList">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="blizzard" ng-true-value="'Blizzard'" ng-false-value="''" />
                                Blizzard
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="Tornado" ng-true-value="'Tornado'" ng-false-value="''"/>
                                Tornado
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"ng-model="peterson" ng-true-value="'Peterson Family Car Crash'" ng-false-value="''"/>
                                Peterson Family Car Crash
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"ng-model="flood" ng-true-value="'Flood'" ng-false-value="''"/>
                                Flood
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="ss" ng-true-value="'School Shooting'" ng-false-value="''"/>
                            School Shooting
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <br />
                <input type="submit" value="Send Message" class="btn btn-primary" ng-click ="onSub()"></input>
            </div>
        </div>
      </form>
        <div class="col-md-12">
            <h3>Archive</h3>
            <div>
            <table class="col-md-12">
                <tbody>
                  <th class="col-md-3">Subject</th>
                  <th class="col-md-3">Sent to:</th>
                  <th class="col-md-3"> Sent by:</th>
                  <th class="col-md-3">Pertaining to:</th>
                </tbody>
              </table>
            </div>
          </div>
        </div>
                    <md-list-item ng-repeat="message in archives" ng-click="showDetails(message,$event)">
                     <span class="col-md-3">{{message.subject}}</span>
                     <span class="col-md-3">{{message.allMembers}}
                         {{message.Bishopbric}}
                         {{message.WardC}}
                         {{message.rS}}
                         {{message.eQ}}
                         {{message.hPG}}
                    </span>
                    <span class="col-md-3">
                    {{message.email}}
                    {{message.sms}}
                  </span>
                    <span class="col-md-3">
                      {{message.blizzard}}
                      {{message.Tornado}}
                      {{message.peterson}}
                      {{message.flood}}
                      {{message.ss}}
                    </span>
                  </md-list-item>
</md-content>
