<md-content>
  <div>
    <table class="table">
      <caption>Ward Inventory</caption>
      <th>Item</th>
      <th>quantity</th>
      <th>Famlies That Have Them</th>
  <tr>
    <td>Chainsaws</td>
    <td ng-if="edit2 ===false">{{q1.thing}}</td>
    <td ng-if="edit2 ===true"><input ng-hide="edit2===false" type="text" ng-model="q1.thing"></input></td>
    <td ng-if="edit2 ===false">{{cNames.thing}}</td>
    <td ng-if="edit2 ===true"><input ng-hide="edit2===false" type="text" ng-model="cNames.thing"></input></td>
  </tr>
  <tr>
    <td>Generators</td>
    <td ng-if="edit2 ===false">{{q2.thing}}</td>
    <td ng-if="edit2 ===true"><input ng-hide="edit2===false" type="text" ng-model="q2.thing"></input></td>
    <td ng-if="edit2 ===false">{{gNames.thing}}</td>
    <td ng-if="edit2 ===true"><input ng-hide="edit2===false" type="text" ng-model="gNames.thing"></input></td>
  </tr>
  <tr>
    <td>Snowblowers</td>
    <td ng-if="edit2 ===false">{{q3.thing}}</td>
    <td ng-if="edit2 ===true"><input ng-hide="edit2===false" type="text" ng-model="q3.thing"></input></td>
    <td ng-if="edit2 ===false">{{sNames.thing}}</td>
    <td ng-if="edit2 ===true"><input ng-hide="edit2===false" type="text" ng-model="sNames.thing"></input></td>
  </tr>
  <tr>
    <td><md-button class="btn btn-primary" aria-label="blarg"  ng-click="showDialog()">Send Request for Update</md-button></td>
    <td><md-button class="btn btn-primary" aria-label="blarg" ng-click="toggleEdit2()"><div ng-if="edit2===false">Modify Inventory</div>
      <div ng-if="edit2===true">Done Modifing</div></md-button></td>
    <td><md-button class="btn btn-primary" aria-label="blarg" ng-click="toggleEdit2()"><div ng-if="edit2===false">Edit List</div>
      <div ng-if="edit2===true">Done Editing</div></md-button></td>
  </tr>
</table>
  </div>
  <div>
    <table class="table">
      <caption>Training Certifications and Special Skills </caption>
      <th>Skillset or Training</th>
      <th>Name</th>
  <tr>
    <td>Electrical</td>
    <td ng-if="edit ===false">{{eNames.thing}}</td>
    <td ng-if="edit ===true"><input ng-hide="edit===false" type="text" ng-model="eNames.thing"></input></td>
  </tr>
  <tr>
    <td>CPR</td>
    <td ng-if="edit ===false">{{cprNames.thing}}</td>
    <td ng-if="edit ===true"><input ng-hide="edit===false" type="text" ng-model="cprNames.thing"></input></td>
  </tr>
  <tr>
    <td>Auto Repair</td>
    <td ng-if="edit ===false">{{arNames.thing}}</td>
    <td ng-if="edit ===true"><input ng-hide="edit===false" type="text" ng-model="arNames.thing"></input></td>
  </tr>
  <tr>
    <td><md-button class="btn btn-primary" aria-label="blarg"  ng-click="showDialog()">Send Request for Update</md-button></td>
    <td><md-button class="btn btn-primary" aria-label="blarg" ng-click="toggleEdit()"> <div ng-if="edit===false">Edit List</div>
      <div ng-if="edit===true">Done Editing</div></md-button></td>
  </tr>
</table>
  </div>

</md-content>
