<md-content>

    
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Ward Plan</h2>
                    </div>
                    <div class="panel-body">
                        <textarea id="messageBox" class="form-control" rows="16" ng-model="message"></textarea>
                        <md-button class="btn btn-primary">Edit</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</md-content>
